---
layout: default
title: "ホーム"
---


<h1>タグ一覧</h1>
<ul>
  {% assign all_tags = site.tags %}
  {% for tag in all_tags %}
    {% assign tag_name = tag[0] %}
    <li>
      <a href="{{ '/tags/' | append: tag_name | uri_escape | append: '/' | relative_url }}">
        {{ tag_name }} ({{ tag[1].size }})
      </a>
    </li>
  {% endfor %}
</ul>

<h2>最新の投稿</h2>
<ul>
  {% for post in site.posts %}
    <li>
       <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <br>
      <!-- カテゴリー表示 -->
      <span class="post-categories">カテゴリ: {{ post.categories | join: ", " }}</span>
      <br>
      <!-- タグ表示 -->
      <span class="post-tags">タグ: {{ post.tags | join: ", " }}</span>
    </li>
  {% else %}
    <li>投稿が見つかりません。</li>
  {% endfor %}
</ul>

