---
layout: default
title: "ホーム"
---

<div class="home-container">
<h1>Tag Archive</h1>
<ul class="tag-cloud-list">
  {% assign all_tags = site.tags %}
  {% for tag in all_tags %}
    {% assign tag_name = tag[0] %}
    <li>
        <a class="tag-button" href="{{ site.baseurl }}/tags/{{ tag_name | uri_escape }}/">
          {{ tag_name }} <span class="tag-count">({{ tag[1].size }})</span>
        </a>
    </li>
  {% endfor %}
</ul>

   <h2>Posts</h2>
  <div class="post-grid">
    {% for post in site.posts %}
      <div class="post-item">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span><br>
        <span class="post-tags">Tag: {{ post.tags | join: ", " }}</span>
      </div>
    {% else %}
      <p>投稿が見つかりません。</p>
    {% endfor %}
  </div>
</div>


